.products-wrap {
    width: 60%;
    text-align: center;

    .products {
        display: flex;
        flex-wrap: wrap;

    }

    .product {
        flex: 1 1 25%;
        height: 5rem;
        padding: 1rem;
        
        
    }
    
    .product__name {
        margin: 0.5rem;
        padding: 1rem;
        outline: 0;
        background-color: transparent;
    }

}