.screen-wrap {
  width: 40%;
  text-align: center;
  background-color: rgb(245, 245, 245);

  .money {
    border: 1px solid black;
    margin: 2rem auto;
    padding: 1rem 2rem;
    width: 90%;
    height: 5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .screen__button {
    width: 90%;
    height: 5rem;
    font-size: 1.5rem;
  }

  .screen__text {
    width: 90%;
    height: 20rem;
    border: 1px solid black;
    text-align: left;
    margin: 2rem auto;
    padding: 0.8rem;
    font-size: 1.5rem;
  }
}
